.App {
  text-align: center;
}
/* base color rgb(216, 207, 69) */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.font_white {
  color: rgb(250, 250, 250);
  font-weight: bold;
}
.font_black {
  color: black;
  font-weight: bold;
}
.border-off-form {
  border-radius: 6px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: all ease 0.4s;
}
.border-off-form:hover {
  background: rgba(216, 207, 69, 0.6);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}
body {
  background-color: #282c34;
}
table tr th {
  background: rgb(216, 207, 69);
  color: black;
}
table tr td {
  background: #222222;
}
table tbody tr:hover {
  background: #ffffff;
  /* color: black; */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.text_lg {
  font-size: 35px;
  margin-right: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bkShow_Fixed {
  padding: 20px;
  /* position: fixed;
  width: 100%;
  height: 100%; */
  /* background: #222222; */
  /* top: 0;
  left: 0; */
}
.loadding_bk {
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}
.loading {
  padding: 20px;
  border-radius: 100%;
  border: 20px solid rgb(255, 238, 2);
  width: 64px;
  height: 64px;
  margin-left: 470pt;
  margin-top: 170pt;
  animation: mymove 5s infinite;
}
.loadingSamll {
  position: relative;
  /* background: red; */
  padding: 20px;
  margin-top: -20px;
  margin-left: -35px;
}
.loadingSamll small {
  padding: 10px;
  position: absolute;
  font-weight: bold;
  top: 0;
  left: 0;
}
.loadingDiv {
  /* text-align: center; */
  padding: 20px;
}
@keyframes mymove {
  from {
    transform: rotate(0deg);
    border: 20px solid rgba(255, 238, 2, 0.3);
  }
  to {
    transform: rotate(360deg);
    border: 20px solid rgb(255, 238, 2);
    color: white;
    padding: 20px;
    font-size: 20px;
    background: #222222;
    padding: 30px;
  }
}
